#titre
{
text-align:center;font-size:48px;
}
table
{
height:50%;
width:50%;
border-collapse: collapse;
margin:auto;
vertical-align:middle;
}
td
{
border-style:solid;
width:33%;
height:33%;
}
#vic
{
text-align:center;
font-size:x-large
}
#cont
{
font-size:18px;
text-align:center
}
#retour
{
text-align:center;
font-size:xx-large;
}
body
{
height:100%;
}